.topnav {
    position: absolute;
    background-color: #AEA4BF;
    overflow: hidden;
    font-family: 'Lobster', cursive;
    top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    }

    .topnav a {
        float: left;
        text-align: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        text-decoration: underline; 
        text-decoration-color: blueviolet;
    }

    li {
        list-style-type: none;
    }