.container {
    display: flex;
}

header {
    position: absolute;
    background-color: #8F6593;
    color: #fff;
    font-family: Georgia, serif; 
    text-align: center;
    margin: 0;
    font-weight: bold; 
    height: auto; 
    width: 100%;
    top: 0;
}

.topnav {
    position: absolute;
    background-color: #AEA4BF;
    overflow: hidden;
    font-family: 'Lobster', cursive;
    top: 100px;
    width: 100%;
    height: auto; 
}
.topnav a {
    float: left;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    text-decoration: underline; 
    text-decoration-color: blueviolet;
}
li {
    list-style-type: none;
}

.container {
    float: right; 
    padding: 10px;
    position: relative;
    top: 200px;
}

.column.left {
    background-color: #CDCDCD;
    width: 25%;
    height: auto; 
    position: relative;
    margin: 20px;
}

.column.middle {
    width: 50%;
    background-color: #CDCDCD;
    height: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 20px;
}

.column.middle img {
    max-width: 100%; 
    height: auto;
}


.column.right {
    background-color: #CDCDCD;
    width: 25%;
    height: auto; 
    float: right;
    margin: 20px; 
}
